In [38]:
import requests
import json
from config import api_key_census
import census
from census import Census
import pandas as pd
import matplotlib.pyplot as plt
import us
from us import states
from scipy.stats import linregress
from scipy import stats

In [39]:
### Clean house value and add new columns for analysis
## Open raw files
census_value_cost_2017= pd.read_csv('HH_Value_And_Cost2017_Raw_NN.csv')
census_value_cost_2016= pd.read_csv('HH_Value_And_Cost2016_Raw_NN.csv')
census_value_cost_2015= pd.read_csv('HH_Value_And_Cost2015_Raw_NN.csv')
census_value_cost_2014= pd.read_csv('HH_Value_And_Cost2014_Raw_NN.csv')
census_value_cost_2013= pd.read_csv('HH_Value_And_Cost2013_Raw_NN.csv')
census_value_cost_2012= pd.read_csv('HH_Value_And_Cost2012_Raw_NN.csv')
census_value_cost_2011= pd.read_csv('HH_Value_And_Cost2011_Raw_NN.csv')

census_workforce_2017= pd.read_csv('HH_Workforce2017_Raw_NN.csv')
census_workforce_2016= pd.read_csv('HH_Workforce2016_Raw_NN.csv')
census_workforce_2015= pd.read_csv('HH_Workforce2015_Raw_NN.csv')
census_workforce_2014= pd.read_csv('HH_Workforce2014_Raw_NN.csv')
census_workforce_2013= pd.read_csv('HH_Workforce2013_Raw_NN.csv')
census_workforce_2012= pd.read_csv('HH_Workforce2012_Raw_NN.csv')
census_workforce_2011= pd.read_csv('HH_Workforce2011_Raw_NN.csv')

census_income_2017= pd.read_csv('HH_Income2017_Raw_NN.csv')
census_income_2016= pd.read_csv('HH_Income2016_Raw_NN.csv')
census_income_2015= pd.read_csv('HH_Income2015_Raw_NN.csv')
census_income_2014= pd.read_csv('HH_Income2014_Raw_NN.csv')
census_income_2013= pd.read_csv('HH_Income2013_Raw_NN.csv')
census_income_2012= pd.read_csv('HH_Income2012_Raw_NN.csv')
census_income_2011= pd.read_csv('HH_Income2011_Raw_NN.csv')

## Add new column to group zip codes to 22 cities and Houston areas's focus of project
census_value_cost_2017["Zipcode"] = census_value_cost_2017.Zipcode.astype(float)
census_value_cost_2016["Zipcode"] = census_value_cost_2016.Zipcode.astype(float)
census_value_cost_2015["Zipcode"] = census_value_cost_2015.Zipcode.astype(float)
census_value_cost_2014["Zipcode"] = census_value_cost_2014.Zipcode.astype(float)
census_value_cost_2013["Zipcode"] = census_value_cost_2013.Zipcode.astype(float)
census_value_cost_2012["Zipcode"] = census_value_cost_2012.Zipcode.astype(float)
census_value_cost_2011["Zipcode"] = census_value_cost_2011.Zipcode.astype(float)

census_workforce_2017["Zipcode"] = census_workforce_2017.Zipcode.astype(float)
census_workforce_2016["Zipcode"] = census_workforce_2016.Zipcode.astype(float)
census_workforce_2015["Zipcode"] = census_workforce_2015.Zipcode.astype(float)
census_workforce_2014["Zipcode"] = census_workforce_2014.Zipcode.astype(float)
census_workforce_2013["Zipcode"] = census_workforce_2013.Zipcode.astype(float)
census_workforce_2012["Zipcode"] = census_workforce_2012.Zipcode.astype(float)
census_workforce_2011["Zipcode"] = census_workforce_2011.Zipcode.astype(float)

census_income_2017["Zipcode"] = census_income_2017.Zipcode.astype(float)
census_income_2016["Zipcode"] = census_income_2016.Zipcode.astype(float)
census_income_2015["Zipcode"] = census_income_2015.Zipcode.astype(float)
census_income_2014["Zipcode"] = census_income_2014.Zipcode.astype(float)
census_income_2013["Zipcode"] = census_income_2013.Zipcode.astype(float)
census_income_2012["Zipcode"] = census_income_2012.Zipcode.astype(float)
census_income_2011["Zipcode"] = census_income_2011.Zipcode.astype(float)

bins = [77000, 77299, 77315, 77325, 77336, 77337, 77338, 77345, 77347, 77373, 77377, 77391, 77396, 77402, 77410, 77411, 77413, 77433, 77447, 77450, 77484, 77493, 77508, 77522, 77530, 77532, 77536, 77547, 77562, 77572, 77586, 77587, 77598]
group_names = ["Houston", "North Houston", "Kingwood", "Huffman", "Hufsmith", "Humble", "Kingwood2", "Humble2", "Spring", "Tomball", "Spring2", "Humble3", "Bellaire", "Cypress", "Alief", "Barker", "Cypress2", "Hockley", "Katy", "Waller", "Katy2", "Pasadena", "Baytown", "Channelview", "Crosby", "Deer Park", "Galena Park", "Highlands", "La Porte", "Seabrook", "South Houston", "Webster"]
census_value_cost_2017["Cities"] = pd.cut(census_value_cost_2017["Zipcode"], bins, labels = group_names)
census_value_cost_2016["Cities"] = pd.cut(census_value_cost_2016["Zipcode"], bins, labels = group_names)
census_value_cost_2015["Cities"] = pd.cut(census_value_cost_2015["Zipcode"], bins, labels = group_names)
census_value_cost_2014["Cities"] = pd.cut(census_value_cost_2014["Zipcode"], bins, labels = group_names)
census_value_cost_2013["Cities"] = pd.cut(census_value_cost_2013["Zipcode"], bins, labels = group_names)
census_value_cost_2012["Cities"] = pd.cut(census_value_cost_2012["Zipcode"], bins, labels = group_names)
census_value_cost_2011["Cities"] = pd.cut(census_value_cost_2011["Zipcode"], bins, labels = group_names)

census_workforce_2017["Cities"] = pd.cut(census_workforce_2017["Zipcode"], bins, labels = group_names)
census_workforce_2016["Cities"] = pd.cut(census_workforce_2016["Zipcode"], bins, labels = group_names)
census_workforce_2015["Cities"] = pd.cut(census_workforce_2015["Zipcode"], bins, labels = group_names)
census_workforce_2014["Cities"] = pd.cut(census_workforce_2014["Zipcode"], bins, labels = group_names)
census_workforce_2013["Cities"] = pd.cut(census_workforce_2013["Zipcode"], bins, labels = group_names)
census_workforce_2012["Cities"] = pd.cut(census_workforce_2012["Zipcode"], bins, labels = group_names)
census_workforce_2011["Cities"] = pd.cut(census_workforce_2011["Zipcode"], bins, labels = group_names)

census_income_2017["Cities"] = pd.cut(census_income_2017["Zipcode"], bins, labels = group_names)
census_income_2016["Cities"] = pd.cut(census_income_2016["Zipcode"], bins, labels = group_names)
census_income_2015["Cities"] = pd.cut(census_income_2015["Zipcode"], bins, labels = group_names)
census_income_2014["Cities"] = pd.cut(census_income_2014["Zipcode"], bins, labels = group_names)
census_income_2013["Cities"] = pd.cut(census_income_2013["Zipcode"], bins, labels = group_names)
census_income_2012["Cities"] = pd.cut(census_income_2012["Zipcode"], bins, labels = group_names)
census_income_2011["Cities"] = pd.cut(census_income_2011["Zipcode"], bins, labels = group_names)

def f(row):
  if row['Zipcode'] == 77002 or row['Zipcode'] == 77003 or row['Zipcode']==77004 or row['Zipcode']== 77005 or row['Zipcode']== 77006 or row['Zipcode']== 77007 or row['Zipcode']== 77008 or row['Zipcode']== 77009 or row['Zipcode']== 77010 or row['Zipcode']== 77011 or row['Zipcode']==77012 or row['Zipcode']== 77019 or row['Zipcode']== 77020 or row['Zipcode']== 77021 or row['Zipcode']== 77023 or row['Zipcode']== 77025 or row['Zipcode']== 77026 or row['Zipcode']== 77027 or row['Zipcode']== 77030 or row['Zipcode']== 77046 or row['Zipcode']== 77054 or row['Zipcode']== 77098:
      val = 'Inner Loop'
  elif row['Zipcode']== 77013 or row['Zipcode']== 77015 or row['Zipcode']== 77016 or row['Zipcode']==77022 or  row['Zipcode']==77028 or row['Zipcode']==77032 or row['Zipcode']== 77037 or row['Zipcode']== 77039 or row['Zipcode']== 77044 or row['Zipcode']== 77049 or row['Zipcode']== 77050 or row['Zipcode']== 77060 or row['Zipcode']== 77073 or row['Zipcode']== 77076 or  row['Zipcode']==77078:
      val = 'Northeast'
  elif row['Zipcode']== 77014 or  row['Zipcode']==77018 or  row['Zipcode']==77038 or row['Zipcode']== 77040 or row['Zipcode']== 77041 or row['Zipcode']== 77043 or row['Zipcode']== 77055 or row['Zipcode']== 77064 or row['Zipcode']== 77065 or row['Zipcode']== 77066 or row['Zipcode']== 77066 or row['Zipcode']== 770067 or row['Zipcode']== 77068 or row['Zipcode']== 77069 or row['Zipcode']== 77070 or row['Zipcode']== 77080 or row['Zipcode']== 77084 or row['Zipcode']== 77086 or row['Zipcode']== 77088 or row['Zipcode']==77090 or row['Zipcode']== 77091 or row['Zipcode']==77092 or row['Zipcode']== 77095:
       val = 'Northwest'
  elif row['Zipcode']== 77024 or row['Zipcode']== 77031 or  row['Zipcode']==77035 or row['Zipcode']==77036 or  row['Zipcode']==77042 or  row['Zipcode']==77045 or  row['Zipcode']==77053 or  row['Zipcode']==77056 or  row['Zipcode']==77057 or row['Zipcode']== 77063 or row['Zipcode']== 77071 or row['Zipcode']== 77072 or row['Zipcode']== 77074 or row['Zipcode']== 77077 or row['Zipcode']== 77079 or row['Zipcode']== 77080 or row['Zipcode']== 77081 or row['Zipcode']== 77082 or row['Zipcode']== 77083 or row['Zipcode']== 77085 or row['Zipcode']== 77094 or row['Zipcode']== 77094 or row['Zipcode']== 77096 or row['Zipcode']== 77099 or row['Zipcode']== 77237:
       val = 'Southwest'
  elif row['Zipcode']== 77017 or row['Zipcode']== 77029 or row['Zipcode']== 77033 or row['Zipcode']== 77034 or row['Zipcode']==77047 or row['Zipcode']== 77048 or row['Zipcode']== 77051 or row['Zipcode']== 77058 or row['Zipcode']==77059 or row['Zipcode']==77061 or row['Zipcode']==77062 or row['Zipcode']==77075 or row['Zipcode']==77086 or row['Zipcode']==77089 or row['Zipcode']==77092:
       val = 'Southeast'
  else:
      val = "Other Cities"
  return val
census_value_cost_2017['Houston Area Detail'] = census_value_cost_2017.apply(f, axis=1)
census_value_cost_2016['Houston Area Detail'] = census_value_cost_2016.apply(f, axis=1)
census_value_cost_2015['Houston Area Detail'] = census_value_cost_2015.apply(f, axis=1)
census_value_cost_2014['Houston Area Detail'] = census_value_cost_2014.apply(f, axis=1)
census_value_cost_2013['Houston Area Detail'] = census_value_cost_2013.apply(f, axis=1)
census_value_cost_2012['Houston Area Detail'] = census_value_cost_2012.apply(f, axis=1)
census_value_cost_2011['Houston Area Detail'] = census_value_cost_2011.apply(f, axis=1)

census_workforce_2017['Houston Area Detail'] = census_workforce_2017.apply(f, axis=1)
census_workforce_2016['Houston Area Detail'] = census_workforce_2016.apply(f, axis=1)
census_workforce_2015['Houston Area Detail'] = census_workforce_2015.apply(f, axis=1)
census_workforce_2014['Houston Area Detail'] = census_workforce_2014.apply(f, axis=1)
census_workforce_2013['Houston Area Detail'] = census_workforce_2013.apply(f, axis=1)
census_workforce_2012['Houston Area Detail'] = census_workforce_2012.apply(f, axis=1)
census_workforce_2011['Houston Area Detail'] = census_workforce_2011.apply(f, axis=1)

census_income_2017['Houston Area Detail'] = census_income_2017.apply(f, axis=1)
census_income_2016['Houston Area Detail'] = census_income_2016.apply(f, axis=1)
census_income_2015['Houston Area Detail'] = census_income_2015.apply(f, axis=1)
census_income_2014['Houston Area Detail'] = census_income_2014.apply(f, axis=1)
census_income_2013['Houston Area Detail'] = census_income_2013.apply(f, axis=1)
census_income_2012['Houston Area Detail'] = census_income_2012.apply(f, axis=1)
census_income_2011['Houston Area Detail'] = census_income_2011.apply(f, axis=1)

## Drop invalid figures
census_value_cost_2017_clean= census_value_cost_2017.drop([132,46,72])
census_value_cost_2016_clean= census_value_cost_2016.drop([98,11,124])
census_value_cost_2015_clean= census_value_cost_2015.drop([121,95,8])
census_value_cost_2014_clean= census_value_cost_2014.drop([132,106,19])
census_value_cost_2013_clean= census_value_cost_2013.drop([126,13,100])
census_value_cost_2012_clean= census_value_cost_2012.drop([27,114,7])
census_value_cost_2011_clean= census_value_cost_2011.drop([121,95,8])

census_workforce_2017_clean= census_workforce_2017.drop([132,72,6,46])
census_workforce_2016_clean= census_workforce_2016.drop([98,124,11,47])
census_workforce_2015_clean= census_workforce_2015.drop([98,124,11,47])
census_workforce_2014_clean= census_workforce_2014.drop([132,106,19,55])
census_workforce_2013_clean= census_workforce_2013.drop([126,100,13,49])
census_workforce_2012_clean= census_workforce_2012.drop([114,7,19,27,63])
census_workforce_2011_clean= census_workforce_2011.drop([95,121,8,44])

census_income_2017_clean= census_income_2017.drop([132,72,46])
census_income_2016_clean= census_income_2016.drop([98,124,11])
census_income_2015_clean= census_income_2015.drop([95,121,8])
census_income_2014_clean= census_income_2014.drop([132,106,19])
census_income_2013_clean= census_income_2013.drop([100,126,13])
census_income_2012_clean= census_income_2012.drop([1,114,27,7])
census_income_2011_clean= census_income_2011.drop([95,121,8])

In [40]:
## For Population only: Open raw files and clean data
census_pd7= pd.read_csv('HH_Pop2017_Raw_NN.csv')
census_pd6= pd.read_csv('HH_Pop2016_Raw_NN.csv')
census_pd5= pd.read_csv('HH_Pop2015_Raw_NN.csv')
census_pd4= pd.read_csv('HH_Pop2014_Raw_NN.csv')
census_pd3= pd.read_csv('HH_Pop2013_Raw_NN.csv')
census_pd2= pd.read_csv('HH_Pop2012_Raw_NN.csv')
census_pd1= pd.read_csv('HH_Pop2011_Raw_NN.csv')

census_pd7["Zipcode"] = census_pd7.Zipcode.astype(float)
census_pd6["Zipcode"] = census_pd6.Zipcode.astype(float)
census_pd5["Zipcode"] = census_pd5.Zipcode.astype(float)
census_pd4["Zipcode"] = census_pd4.Zipcode.astype(float)
census_pd3["Zipcode"] = census_pd3.Zipcode.astype(float)
census_pd2["Zipcode"] = census_pd2.Zipcode.astype(float)
census_pd1["Zipcode"] = census_pd1.Zipcode.astype(float)

census_pd_sorted = census_pd7.sort_values("Zipcode", ascending=True)
census_pd6_sorted = census_pd6.sort_values("Zipcode", ascending=True)
census_pd5_sorted = census_pd5.sort_values("Zipcode", ascending=True)
census_pd4_sorted = census_pd4.sort_values("Zipcode", ascending=True)
census_pd3_sorted = census_pd3.sort_values("Zipcode", ascending=True)
census_pd2_sorted = census_pd2.sort_values("Zipcode", ascending=True)
census_pd1_sorted = census_pd1.sort_values("Zipcode", ascending=True)

bins = [77000, 77299, 77315, 77325, 77336, 77337, 77338, 77345, 77347, 77373, 77377, 77391, 77396, 77402, 77410, 77411, 77413, 77433, 77447, 77450, 77484, 77493, 77508, 77522, 77530, 77532, 77536, 77547, 77562, 77572, 77586, 77587, 77598]
group_names = ["Houston", "North Houston", "Kingwood", "Huffman", "Hufsmith", "Humble", "Kingwood2", "Humble2", "Spring", "Tomball", "Spring2", "Humble3", "Bellaire", "Cypress", "Alief", "Barker", "Cypress2", "Hockley", "Katy", "Waller", "Katy2", "Pasadena", "Baytown", "Channelview", "Crosby", "Deer Park", "Galena Park", "Highlands", "La Porte", "Seabrook", "South Houston", "Webster"]

census_pd7["Cities"] = pd.cut(census_pd7["Zipcode"], bins, labels = group_names)
census_pd6["Cities"] = pd.cut(census_pd6["Zipcode"], bins, labels = group_names)
census_pd5["Cities"] = pd.cut(census_pd5["Zipcode"], bins, labels = group_names)
census_pd4["Cities"] = pd.cut(census_pd4["Zipcode"], bins, labels = group_names)
census_pd3["Cities"] = pd.cut(census_pd3["Zipcode"], bins, labels = group_names)
census_pd2["Cities"] = pd.cut(census_pd2["Zipcode"], bins, labels = group_names)
census_pd1["Cities"] = pd.cut(census_pd1["Zipcode"], bins, labels = group_names)

def fp(row):
  if row['Zipcode'] == 77002 or row['Zipcode'] == 77003 or row['Zipcode']==77004 or row['Zipcode']== 77005 or row['Zipcode']== 77006 or row['Zipcode']== 77007 or row['Zipcode']== 77008 or row['Zipcode']== 77009 or row['Zipcode']== 77010 or row['Zipcode']== 77011 or row['Zipcode']==77012 or row['Zipcode']== 77019 or row['Zipcode']== 77020 or row['Zipcode']== 77021 or row['Zipcode']== 77023 or row['Zipcode']== 77025 or row['Zipcode']== 77026 or row['Zipcode']== 77027 or row['Zipcode']== 77030 or row['Zipcode']== 77046 or row['Zipcode']== 77054 or row['Zipcode']== 77098:
      val = 'Inner_Loop'
  elif row['Zipcode']== 77013 or row['Zipcode']== 77015 or row['Zipcode']== 77016 or row['Zipcode']==77022 or  row['Zipcode']==77028 or row['Zipcode']==77032 or row['Zipcode']== 77037 or row['Zipcode']== 77039 or row['Zipcode']== 77044 or row['Zipcode']== 77049 or row['Zipcode']== 77050 or row['Zipcode']== 77060 or row['Zipcode']== 77073 or row['Zipcode']== 77076 or  row['Zipcode']==77078:
      val = 'Northeast'
  elif row['Zipcode']== 77014 or  row['Zipcode']==77018 or  row['Zipcode']==77038 or row['Zipcode']== 77040 or row['Zipcode']== 77041 or row['Zipcode']== 77043 or row['Zipcode']== 77055 or row['Zipcode']== 77064 or row['Zipcode']== 77065 or row['Zipcode']== 77066 or row['Zipcode']== 77066 or row['Zipcode']== 770067 or row['Zipcode']== 77068 or row['Zipcode']== 77069 or row['Zipcode']== 77070 or row['Zipcode']== 77080 or row['Zipcode']== 77084 or row['Zipcode']== 77086 or row['Zipcode']== 77088 or row['Zipcode']==77090 or row['Zipcode']== 77091 or row['Zipcode']==77092 or row['Zipcode']== 77095:
       val = 'Northwest'
  elif row['Zipcode']== 77024 or row['Zipcode']== 77031 or  row['Zipcode']==77035 or row['Zipcode']==77036 or  row['Zipcode']==77042 or  row['Zipcode']==77045 or  row['Zipcode']==77053 or  row['Zipcode']==77056 or  row['Zipcode']==77057 or row['Zipcode']== 77063 or row['Zipcode']== 77071 or row['Zipcode']== 77072 or row['Zipcode']== 77074 or row['Zipcode']== 77077 or row['Zipcode']== 77079 or row['Zipcode']== 77080 or row['Zipcode']== 77081 or row['Zipcode']== 77082 or row['Zipcode']== 77083 or row['Zipcode']== 77085 or row['Zipcode']== 77094 or row['Zipcode']== 77094 or row['Zipcode']== 77096 or row['Zipcode']== 77099 or row['Zipcode']== 77237:
       val = 'Southwest'
  elif row['Zipcode']== 77017 or row['Zipcode']== 77029 or row['Zipcode']== 77033 or row['Zipcode']== 77034 or row['Zipcode']==77047 or row['Zipcode']== 77048 or row['Zipcode']== 77051 or row['Zipcode']== 77058 or row['Zipcode']==77059 or row['Zipcode']==77061 or row['Zipcode']==77062 or row['Zipcode']==77075 or row['Zipcode']==77086 or row['Zipcode']==77089 or row['Zipcode']==77092:
       val = 'Southeast'
  else:
      val = "Other Cities"
  return val
census_pd7['Regions'] = census_pd7.apply(fp, axis=1)
census_pd6['Regions'] = census_pd6.apply(fp, axis=1)
census_pd5['Regions'] = census_pd5.apply(fp, axis=1)
census_pd4['Regions'] = census_pd4.apply(fp, axis=1)
census_pd3['Regions'] = census_pd3.apply(fp, axis=1)
census_pd2['Regions'] = census_pd2.apply(fp, axis=1)
census_pd1['Regions'] = census_pd1.apply(fp, axis=1)

merged1 = pd.merge(census_pd1,census_pd2)
merged2 = pd.merge(census_pd3,census_pd4)
merged3 = pd.merge(merged1,merged2)
merged4 = pd.merge(census_pd5,census_pd6)
merged5 = pd.merge(merged3,merged4)
merged_allyears_new = pd.merge(merged5,census_pd7)
cleaned_pop_data=merged_allyears_new[['Regions','Zipcode','2011','2012','2013','2014','2015','2016','2017']]

grouped1 = cleaned_pop_data.groupby(["Regions"])
grouped_all = grouped1.sum()
grouped_all.drop(["Zipcode"], axis=1, inplace=True)
grouped_all_t=grouped_all.T
grouped_all_t["Houston_Total"]=["2727340","2766106","2813715","2867421","2915175","2956347","3005392"]
grouped_regions=grouped_all_t.T
grouped_regions.reset_index()
grouped_regions=grouped_regions.drop('Other Cities')

pop_arrange = {
    "Year": ["2011","2012","2013","2014","2015","2016","2017"],
    "Inner_Loop": [414434,414507,421419,426594,429836,432796,438696],
    "Northeast": [395903,403675,411592,414912,423545,426040,432925],
    "Northwest": [806254,826728,843329,859775,873151,884958,895503],
    "Southeast": [337236,338849,344481,351796,357612,360603,366726],
    "Southwest": [773513,782347,792894,814344,831031,851950,871542],
    "Houston_Total": [2727340,2766106,2813715,2867421,2915175,2956347,3005392]
}
              
pop_ready = pd.DataFrame(pop_arrange)

In [41]:
#### Save clean data to csv
census_value_cost_2017_clean.to_csv('HH_Value_And_Cost2017_Clean_NN.csv',index=False)
census_value_cost_2016_clean.to_csv('HH_Value_And_Cost2016_Clean_NN.csv',index=False)
census_value_cost_2015_clean.to_csv('HH_Value_And_Cost2015_Clean_NN.csv',index=False)
census_value_cost_2014_clean.to_csv('HH_Value_And_Cost2014_Clean_NN.csv',index=False)
census_value_cost_2013_clean.to_csv('HH_Value_And_Cost2013_Clean_NN.csv',index=False)
census_value_cost_2012_clean.to_csv('HH_Value_And_Cost2012_Clean_NN.csv',index=False)
census_value_cost_2011_clean.to_csv('HH_Value_And_Cost2011_Clean_NN.csv',index=False)

census_workforce_2017_clean.to_csv('HH_workforce2017_Clean_NN.csv',index=False)
census_workforce_2016_clean.to_csv('HH_workforce2016_Clean_NN.csv',index=False)
census_workforce_2015_clean.to_csv('HH_workforce2015_Clean_NN.csv',index=False)
census_workforce_2014_clean.to_csv('HH_workforce2014_Clean_NN.csv',index=False)
census_workforce_2013_clean.to_csv('HH_workforce2013_Clean_NN.csv',index=False)
census_workforce_2012_clean.to_csv('HH_workforce2012_Clean_NN.csv',index=False)
census_workforce_2011_clean.to_csv('HH_workforce2011_Clean_NN.csv',index=False)

census_income_2017_clean.to_csv('HH_Income2017_Clean_NN.csv',index=False)
census_income_2016_clean.to_csv('HH_Income2016_Clean_NN.csv',index=False)
census_income_2015_clean.to_csv('HH_Income2015_Clean_NN.csv',index=False)
census_income_2014_clean.to_csv('HH_Income2014_Clean_NN.csv',index=False)
census_income_2013_clean.to_csv('HH_Income2013_Clean_NN.csv',index=False)
census_income_2012_clean.to_csv('HH_Income2012_Clean_NN.csv',index=False)
census_income_2011_clean.to_csv('HH_Income2011_Clean_NN.csv',index=False)

pop_ready.to_csv('HH_PopAllYear_Clean_NN.csv',index=False)
grouped_regions.to_csv('HH_PopAllYear_Regions_Clean_NN.csv',index=False)

In [34]:
pop_ready

   Year  Inner_Loop  Northeast  Northwest  Southeast  Southwest  Houston_Total
0  2011      414434     395903     806254     337236     773513        2727340
1  2012      414507     403675     826728     338849     782347        2766106
2  2013      421419     411592     843329     344481     792894        2813715
3  2014      426594     414912     859775     351796     814344        2867421
4  2015      429836     423545     873151     357612     831031        2915175
5  2016      432796     426040     884958     360603     851950        2956347
6  2017      438696     432925     895503     366726     871542        3005392

,Zipcode,2011,Cities,Regions,2012,2013,2014,2015,2016,2017
0,77002.0,11528.0,Houston,Inner_Loop,11473.0,11602.0,11630.0,11922.0,11861.0,12370.0
1,77003.0,9782.0,Houston,Inner_Loop,10215.0,10617.0,10760.0,10438.0,10097.0,9646.0
2,77004.0,28743.0,Houston,Inner_Loop,29853.0,31593.0,34079.0,35739.0,36879.0,37642.0
3,77005.0,26122.0,Houston,Inner_Loop,25740.0,25752.0,26187.0,27187.0,27707.0,28233.0
4,77006.0,20489.0,Houston,Inner_Loop,19856.0,20573.0,21144.0,21795.0,21849.0,21945.0
...,...,...,...,...,...,...,...,...,...,...
128,77562.0,10456.0,Highlands,Other Cities,10861.0,10751.0,10720.0,10591.0,10490.0,10665.0
129,77571.0,35975.0,La Porte,Other Cities,35787.0,36116.0,36580.0,36865.0,37031.0,37374.0
130,77586.0,20955.0,Seabrook,Other Cities,21563.0,22044.0,22114.0,22550.0,22280.0,22182.0
131,77587.0,16515.0,South Houston,Other Cities,16648.0,16734.0,17052.0,16868.0,16862.0,16901.0
132,77598.0,23461.0,Webster,Other Cities,24074.0,23738.0,24538.0,23877.0,24309.0,24689.0